
.result-container {
    width: 100%;
    height: calc(100% - 65px);
  }
  
  .chart-wrapper,
  .chart-wrapper canvas {
    width: 100%;
    height: 800px;
  }
  
  .list-wrapper {
    width: 100%;
    height: auto;
    margin-top: 20px;
  }
  
  :host>>>card {
    min-height: auto !important;
  }
  
  Card {
    min-height: auto !important;
  }
  