<div class="modal-header">
  <div class="modal-title">查看 {{ record.NSRMC }} 信息</div>
</div>
<nz-spin *ngIf="!i" class="modal-spin"></nz-spin>
<div sv-container *ngIf="i" gutter="12">
  <!-- <sv label="登记序号">{{i.DJXH}}</sv> -->
  <sv label="纳税人名称">{{i.NSRMC}}</sv>
  <sv label="纳税人识别号">{{i.NSRSBH}}</sv>
  <sv label="社会信用代码">{{i.SHXYDM}}</sv>
  <sv label="所属行业">{{i.HYMC}}</sv>
  <sv label="登记注册类型">{{i.DJZCLXMC}}</sv>
  <sv label="纳税人状态">{{i.NSRZTMC}}</sv>
  <sv label="联系人">{{i.LXR}}</sv>
  <sv label="联系电话">{{i.LXDH}}</sv>
  <sv label="登记日期">{{i.DJRQ}}</sv>
  <sv label="税收留存比例" col="1" type="danger" optionalHelp="企业税收在本辖区的留存比例">{{i.SSFC}}%</sv>
  <sv label="备注说明" col="1" type="primary">{{i.BZ}}</sv>
  <sv label="注册地址" col="1">{{i.ZCDZ}}</sv>
  <sv label="经营范围" col="1">{{i.JYFW}}</sv>

</div>
<div class="modal-footer">
  <button nz-button type="button" (click)="close()">关闭</button>
</div>
