<div style="width:100%;height:100%;padding: 0; overflow: auto;position: fixed;">

  <page-header [fixedOffsetTop]="0">

  </page-header>

  <div nz-row style="height: calc(100% - 270px);" nzGutter="8">
    <div nz-col style="height: 100%;" nzSpan="6">
      <nz-card style="height: 100%;" nzTitle="组织架构" [nzExtra]="tplDepartment">
        <nz-tree [nzData]="departmentTreeNodes" (nzClick)="departmentSelected($event)"></nz-tree>
      </nz-card>
      <ng-template #tplDepartment>
        <a title="刷新"><i class="fas fa-sync"></i></a>
        <nz-divider nzType="vertical"></nz-divider>
        <a title="添加"><i class="fas fa-plus"></i></a>
      </ng-template>
    </div>

    <div nz-col style="height: 100%;" nzSpan="18">
      <nz-card style="height: 100%;" nzTitle="成员列表" [nzExtra]="tplUser">
        <!-- <sf mode="search" [schema]="searchSchema" (formSubmit)="st.reset($event)" (formReset)="st.reset($event)"></sf>
        <st #st [data]="url" [columns]="columns"></st> -->
      </nz-card>
      <ng-template #tplUser>

      </ng-template>
    </div>
  </div>

</div>
