<nz-card style="margin-top: 10px;" [nzExtra]="extraTpl">
  <ng-template #extraTpl>
    <app-bdg-select class="board-1" #bdgSelect></app-bdg-select>
    <span class="header-label"> 所属行业:</span>
    <nz-tree-select #hyTreeSelect class="board-2 hymc-tree-select" style="width: 233px;margin: 0 3px;"
      [(ngModel)]="selectedHymc" [nzNodes]="hymcNodes" nzAllowClear="true" nzMultiple="false"
      [nzPlaceHolder]="'请选择行业名称'">
    </nz-tree-select>
    <span class="header-label">入库日期：</span>
    <app-month-range class="board-3" #monthRange style="margin-right: 5px;"></app-month-range>
    <button nz-button class="board-4" (click)="getData()" [disabled]="http.loading" nzType="primary"
      style="margin-left: 6px;">查询</button>
    <button nz-button class="board-5" (click)="export()" [disabled]="http.loading" nzType="primary"
      style="margin-left: 6px;">导出</button>
    <button nz-button nz-tooltip nzTooltipTitle="帮助" (click)="startBoard()" nzType="default" style="margin-left: 6px;"
      nzShape="circle">
      <i nz-icon nzType="question" nzTheme="outline"></i></button>
  </ng-template>
  <div nz-row nzGutter="8" style="height: 100%;">
    <div nz-col nzSpan="10" style="height: 100%;">
      <st #st [data]="townData" header="镇街收入（单位：万元）" [columns]="columns" size="small" bordered="true"
        [page]="{show:false}" [page]="{show:false}" [scroll]="{y:'620px'}" [body]="bodyTpl" [loading]="http.loading">

        <!-- 汇总数据 -->
        <ng-template #bodyTpl let-s>
          <ng-container *ngIf="st.count > 0">
            <tr class="bg-grey-lighter text-magenta-dark">
              <td colspan="2">合计</td>
              <td class="text-center">{{ s.bndsr.value |number}}</td>
              <td class="text-center">{{ s.sntq.value |number}}</td>
              <td class="text-center">
                {{ (s.bndsr.value-s.sntq.value) |number}}({{
                ((s.bndsr.value-s.sntq.value)/s.sntq.value*100).toFixed(2)+"%"}})
              </td>
              <!-- <td class="text-center">
                  
                </td> -->
            </tr>
            <!-- 通过json管道打印 s ，s是表格统计结果 -->
            <!-- <tr>{{s|json}}</tr> -->
          </ng-container>
        </ng-template>

        <ng-template st-row="tbzjz-tpl" let-item let-index="index">
          <nz-tag nzColor="{{item.tbzjz>0?'green':'red'}}">
            <!-- <span> {{item.tbzjz|number}}（{{item.tbzjf}}）</span> -->
            <span *ngIf="item.tbzjz>0" nz-tooltip [nzTooltipOverlayStyle]="tooltipStyle"
              [nzTooltipTitle]="'同比增长：' + item.tbzjz+' 万元;&nbsp;' +'增幅：'+item.tbzjf">
              {{item.tbzjf}}</span>
            <span *ngIf="item.tbzjz<0" nz-tooltip [nzTooltipOverlayStyle]="tooltipStyle" [nzTooltipTitle]="'同比下降：' +
              item.tbzjz+' 万元;&nbsp;' +'降幅：'+item.tbzjf">
              {{item.tbzjf}}</span>
          </nz-tag>
        </ng-template>
        <ng-template st-row='order-tpl' let-item let-index="index">
          <nz-badge nzStandalone [nzCount]="index + 1" nzOverflowCount="6666"></nz-badge>
        </ng-template>
      </st>
      <!-- <g2-bar style="padding: 10px;" *ngIf="townG2BarData&&townG2BarData.length" height="300" [data]="townG2BarData">
      </g2-bar> -->
    </div>
    <div nz-col nzSpan="14" style="height: 100%;">
      <div style="height: 100%;min-height: 660px; width: 100%;margin-top: 10px;">
        <mgl-map [style]="style" [trackResize]="true" [zoom]="[8]" [center]="[120.3,36.45]" (load)="mapboxLoad($event)">
          <mgl-control mglNavigation></mgl-control>
          <mgl-control mglFullscreen></mgl-control>
        </mgl-map>
      </div>
    </div>
  </div>
</nz-card>