<div class="container">
    <div nz-row class="fill-row" nzGutter="8">
        <!-- 左--税种统计 -->
        <div nz-col nzSpan="6">
            <div class="tax-3 x-box">
                <div class="s-box-wgit">
                    <span class="sbw-left-top"></span>
                    <span class="sbw-right-top"></span>
                    <span class="sbw-left-bottom"></span>
                    <span class="sbw-right-bottom"></span>
                </div>
                <div class="panel-title">
                    {{distinctName}}全市税收分月情况
                </div>
                <!--<div class="panel-content">-->
                <div class="panel-content" echarts [options]="xzqhChartOpt" (chartInit)="onXzqhChartInit($event)"
                    [theme]="'dark'">
                </div>
            </div>

            <div class="tax-3 x-box">
                <div class="s-box-wgit">
                    <span class="sbw-left-top"></span>
                    <span class="sbw-right-top"></span>
                    <span class="sbw-left-bottom"></span>
                    <span class="sbw-right-bottom"></span>
                </div>
                <div class="panel-title">
                    {{distinctName}}分税种税收情况
                </div>
                <div class="panel-content" echarts [options]="zsxmChartOpt" (chartInit)="onZsxmChartInit($event)"
                    [theme]="'dark'">
                </div>
            </div>
            <div class="tax-3 x-box">
                <div class="s-box-wgit">
                    <span class="sbw-left-top"></span>
                    <span class="sbw-right-top"></span>
                    <span class="sbw-left-bottom"></span>
                    <span class="sbw-right-bottom"></span>
                </div>
                <div class="panel-title">
                    {{hyssChartTitle}}
                </div>
                <div class="panel-content" echarts (chartInit)="onHyssChartInit($event)" [options]="hyssChartOpt"
                    [theme]="'dark'">
                </div>
            </div>
        </div>
        <!-- 中--地图统计 -->
        <div nz-col nzSpan="12">
            <div *ngIf="totalItem" class="risk-summary wt-box">
                <nz-row style="width: 100%;height:100%;" [nzGutter]="8">
                    <nz-col [nzSpan]="10" class="t-box" style="height:100%;">
                        <div class="s-box-wgit">
                            <span class="sbw-left-top"></span>
                            <span class="sbw-right-top"></span>
                            <span class="sbw-left-bottom"></span>
                            <span class="sbw-right-bottom"></span>
                        </div>
                        <h3 class="summary-title" style="color: aqua;">全市累计税收收入 &nbsp;
                            <span class="summary-value" style="color: #9d7a00;">
                                {{totalItem.SE_HJ_LJ_BQ/10000|number}}
                                <!--724.768-->&nbsp;</span>亿
                        </h3>
                        <div class="summary-sub">
                            <span class="icon-red-dot" style="
                                                    position: absolute;
                                                    width: 10px;
                                                    height: 10px;
                                                    margin:8px 0;
                                                    background: #9d7a00;
                                                    border-radius: 50%;"></span>
                            <span style="padding:0 15px;font-size:16px;color: aqua;">同比增长：<span
                                    class="sub-summary-value" style="color: #9d7a00;">
                                    {{totalItem.SE_HJ_LJ_BQ_ZJE/10000|number}}
                                    <!---23.997--></span>&nbsp;亿</span>
                            <span class="icon-red-dot" style="
                                                    position: absolute;
                                                    width: 10px;
                                                    height: 10px;
                                                    margin:8px 0;
                                                    background: #9d7a00;
                                                    border-radius: 50%;"></span>
                            <span style="padding:0 15px;font-size:16px;color: aqua;">同比增速：<span
                                    class="sub-summary-value" style="color: #9d7a00;">
                                    {{totalItem.SE_HJ_LJ_BQ_ZJBL}}
                                    <!---3.20%--></span></span>
                            <!-- <i nz-icon nzType="clock-circle" nzTheme="twotone"></i> -->

                        </div>
                    </nz-col>
                    <nz-col *ngIf="countyVisible" [nzSpan]="11" class="t-box" style="height:100%;">
                        <div class="s-box-wgit">
                            <span class="sbw-left-top"></span>
                            <span class="sbw-right-top"></span>
                            <span class="sbw-left-bottom"></span>
                            <span class="sbw-right-bottom"></span>
                        </div>
                        <h3 class="summary-title" style="color: aqua;">{{selectedXzqh.NAME}}-本年累计税收收入 &nbsp;
                            <span class="summary-value"
                                style="color: #9d7a00;">{{selectedXzqh.SE_HJ_LJ_BQ/10000|number}}&nbsp;亿</span>
                        </h3>
                        <div class="summary-sub">
                            <span class="icon-red-dot" style="
                                            position: absolute;
                                            width: 10px;
                                            height: 10px;
                                            margin:8px 0;
                                            background: #9d7a00;
                                            border-radius: 50%;"></span>
                            <span style="padding:0 15px;font-size:16px;color: aqua">同比增长：<span class="sub-summary-value"
                                    style="color: #9d7a00;">{{selectedXzqh.SE_HJ_LJ_BQ_ZJE/10000|number}}</span>&nbsp;亿</span>
                            <span class="icon-red-dot" style="
                                            position: absolute;
                                            width: 10px;
                                            height: 10px;
                                            margin:8px 0;
                                            background: #9d7a00;
                                            border-radius: 50%;"></span>
                            <span style="padding:0 15px;font-size:16px;color: aqua">同比增速：<span class="sub-summary-value"
                                    style="color: #9d7a00;">{{selectedXzqh.SE_HJ_LJ_BQ_ZJBL}}%</span></span>

                        </div>
                    </nz-col>

                </nz-row>

            </div>
            <div class="cover-box">
                <button nz-button
                    style="display: flex;align-items: center;justify-content: center;position: absolute;z-index: 999;right: 15px;bottom: 15px;width: 36px;height: 36px;"
                    nzType="danger" nzShape="circle" nzGhost="true" (click)="returnHome()">
                    <i nz-icon nzType="home" nzTheme="fill"></i>
                </button>
                <mgl-map class="main-map-container" [style]="style" [trackResize]="true" [zoom]="[8]"
                    [center]="[121.4099, 37.47522]" (load)="mapboxLoad($event)">

                </mgl-map>
            </div>
        </div>
        <!-- 右--税种统计 -->
        <div nz-col nzSpan="6">
            <div class="tax-3 x-box">
                <div class="s-box-wgit">
                    <span class="sbw-left-top"></span>
                    <span class="sbw-right-top"></span>
                    <span class="sbw-left-bottom"></span>
                    <span class="sbw-right-bottom"></span>
                </div>
                <div class="panel-title">
                    {{distinctName}}分产业分析
                </div>
                <div class="panel-content" echarts [options]="nsgmChartOpt" [theme]="'dark'">
                </div>
            </div>
            <div class="tax-3 x-box">
                <div class="s-box-wgit">
                    <span class="sbw-left-top"></span>
                    <span class="sbw-right-top"></span>
                    <span class="sbw-left-bottom"></span>
                    <span class="sbw-right-bottom"></span>
                </div>
                <div class="panel-title">
                    {{distinctName}}亩产税收排名
                </div>
                <div class="panel-content">
                    <div style="height:100%;width:100%;overflow:scroll" class="zsxm-table-wrapper">
                        <div nz-row class="zsxm-row" nzGutter="8">
                            <div nz-col nzSpan="3">
                                排名
                            </div>
                            <div nz-col nzSpan="12">
                                税务机关名称
                            </div>
                            <div nz-col nzSpan="9">
                                亩均税收(万元/亩)
                            </div>

                        </div>
                        <a pageScroll href="#scrollContent"></a>
                        <div nz-row id="scrollContent" class="zsxm-row zsxm-item-row"
                            *ngFor="let item of mjsh0Data;let i=index;" nzGutter="8">
                            <div nz-col nzSpan="3">
                                <nz-badge nzStandalone [nzStyle]="{ backgroundColor: 'rgb(33,107,198)' }"
                                    nzCount="{{i+1}}">
                                </nz-badge>
                            </div>
                            <div nz-col nzSpan="12" nz-button (click)="displayQYofSWJG(item['SWJGJC'])">
                                {{item['SWJGJC']}}
                            </div>
                            <div nz-col nzSpan="9">
                                {{item['MJSS'].toFixed(2)}}
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="tax-3 x-box">
                <div class="s-box-wgit">
                    <span class="sbw-left-top"></span>
                    <span class="sbw-right-top"></span>
                    <span class="sbw-left-bottom"></span>
                    <span class="sbw-right-bottom"></span>
                </div>
                <div class="panel-title">
                    {{distinctName}}税源结构分析
                </div>
                <div class="panel-content" echarts [options]="syjgfxChartOpt" [theme]="'dark'"></div>
            </div>
        </div>
    </div>
</div>