<nz-card class="single-card" [nzExtra]="extraTpl">
  <ng-template #extraTpl>
    <span style="font-weight: bolder;">纳税人名称：</span>
    <!-- <app-nsrmc-suggestion #nsrSug></app-nsrmc-suggestion> -->
    <input class="board-1" nz-input [(ngModel)]="nsrmc" name="NSRMC" placeholder="请输入纳税人名称" id="NSRMC"
      style="display: inline-block;width: 284px;" />
    <app-bdg-select class="board-2" #bdgSelect></app-bdg-select>
    <app-month-range class="board-3" #monthRange style="margin-right: 5px;"></app-month-range>
    <button class="board-4" (click)="getData()" [disabled]="http.loading" nz-button nzType="primary">查询</button>
    <button class="board-5" (click)="export()" [disabled]="http.loading" nz-button nzType="primary">导出</button>
    <button nz-button nz-tooltip nzTooltipTitle="帮助" (click)="startBoard()" nzType="default" style="margin-left: 6px;"
      nzShape="circle">
      <i nz-icon nzType="question" nzTheme="outline"></i></button>
  </ng-template>
  <!-- 分税种税收明细表 -->
  <div nz-row nzGutter="8">
    <div nz-col nzSpan="24">
      <st #st [data]="taxData" [columns]="columns" size="middle" bordered="true" [header]="headerTpl" [page]="page"
        [footer]="footerTpl" [loading]="http.loading">
        <ng-template #headerTpl>
          <ng-container>
            <div>税收明细（单位：万元）</div>
          </ng-container>
        </ng-template>
        <ng-template #footerTpl let-s>
          <ng-container>
            <div>
              <!-- 合计： {{ total | _currency }} -->
            </div>
          </ng-container>
        </ng-template>

      </st>
    </div>
  </div>
</nz-card>