<!--
 * @Author: your name
 * @Date: 2020-03-10 09:05:00
 * @LastEditTime: 2020-03-10 09:27:24
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: /ng-egg/src/app/layout/passport/passport.component.html
 -->
<div class="container">
  <header-i18n showLangText="false" class="langs"></header-i18n>
  <div class="wrap">
    <div class="top">
      <div class="head">
        <img class="logo" src="./assets/logo-color.svg">
        <span class="title">ng-alain</span>
      </div>
    </div>
    <router-outlet></router-outlet>
    <global-footer [links]="links">
      Copyright
      <i nz-icon nzType="copyright"></i>2020
      <!-- <a href="//github.com/cipchk" target="_blank">卡色</a>出品 -->
    </global-footer>
  </div>
</div>
