<!--
 * @Author: your name
 * @Date: 2020-03-10 09:05:00
 * @LastEditTime: 2020-03-10 09:27:24
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: /ng-egg/src/app/layout/passport/passport.component.html
 -->
<div class="container">
  <!-- <div class="top">
      <div class="head">
        <img class="logo" src="./assets/logo-color.svg">
        <span class="title">ng-alain</span>
      </div>
    </div> -->
  <router-outlet></router-outlet>
  <!-- <global-footer [links]="links">
      Copyright
      <i class="anticon anticon-copyright"></i> 青岛市西海岸基础地理信息中心 2020
    </global-footer> -->
</div>