<!--
 * @Author: your name
 * @Date: 2020-03-10 09:05:00
 * @LastEditTime: 2020-03-10 14:04:50
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: /ng-egg/src/app/routes/passport/login/login.component.html
 -->
<!-- <form nz-form [formGroup]="form" (ngSubmit)="submit()" role="form">

  <nz-alert *ngIf="error" [nzType]="'error'" [nzMessage]="error" [nzShowIcon]="true" class="mb-lg"></nz-alert>
  <nz-form-item>
    <nz-form-control [nzErrorTip]="'Please enter mobile number!' | translate">
      <nz-input-group nzSize="large" nzPrefixIcon="user">
        <input nz-input formControlName="userName" placeholder="用户名" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control nzErrorTip="'Please enter password!' | translate">
      <nz-input-group nzSize="large" nzPrefixIcon="lock">
        <input nz-input type="password" formControlName="password" placeholder="密码" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <button nz-button type="submit" nzType="primary" nzSize="large" [nzLoading]="http.loading" nzBlock>
      登录
    </button>
  </nz-form-item>
</form> -->

<div class="login">
  <!-- <div nz-form-item class="login-title">{{formTitle}}</div> -->

  <!-- 用户登录表单 -->
  <form nz-form [formGroup]="form" (ngSubmit)="submit()" role="form" class="login-form">
    <!-- 标题 -->
    <div nz-form-item class="login-form-title" style="margin: 16px 0;">{{formTitle}}</div>
    <!-- 用户名 -->
    <nz-alert *ngIf="error" [nzType]="'error'" [nzMessage]="error" [nzShowIcon]="true" class="mb-lg"></nz-alert>
    <nz-form-item>
      <nz-form-control [nzErrorTip]="'Please enter mobile number!' | translate">
        <nz-input-group nzSize="large" nzPrefixIcon="user">
          <input nz-input formControlName="userName" placeholder="用户名" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="'Please enter password!' | translate">
        <nz-input-group nzSize="large" nzPrefixIcon="lock">
          <input nz-input type="password" formControlName="password" placeholder="密码" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <button nz-button type="submit" nzType="primary" nzSize="large" [nzLoading]="http.loading" nzBlock>
        登录
      </button>
    </nz-form-item>
  </form>
</div>