<dqy-condition #drawer (onConditionConfirm)="getNsrpm($event)">
    <div class="list-wrapper" #back2topTarget>
        <!-- 结果list -->
        <List>
            <ListItem [extra]="'金额（万元）'">纳税人名称</ListItem>

            <SwipeAction *ngFor="let item of nsrpmListData;let i =index" style="background-color:gray"
                [autoClose]="true" [right]="rightFavor" (onOpen)="onSwipeOpen(item)">
                <ListItem (click)="getNsrTaxInfo(item.NSRMC)" [extra]="item.BNDSR|number" [arrow]="'horizontal'">
                    <Badge [overflowCount]="100000" [text]="(this.currentPage-1)*30+i+1" [hot]="true" [size]="'large'"
                        style="margin-left:6px;">
                    </Badge>

                    {{item.NSRMC}}
                    <Brief><span style="margin-left:12px">同比:
                            <span>
                                <i *ngIf="item.TBZJZ>0" style="margin-left:6px;color:green;" nz-icon nzType="arrow-up"
                                    nzTheme="outline"></i>
                                <i *ngIf="item.TBZJZ<0" style="margin-left:6px;color: red;" nz-icon nzType="arrow-down"
                                    nzTheme="outline"></i>
                            </span>
                            {{item.TBZJZ|number}}&nbsp;
                            <!-- <span *ngIf="item.tbzjf!=0">（{{item.TBZJF}}）</span> -->
                        </span>
                        <!-- <span style="margin-left:12px">同比增幅:&nbsp;{{item.tbzjf}}</span> -->
                    </Brief>
                </ListItem>
            </SwipeAction>
        </List>
        <!-- 翻页 -->
        <WhiteSpace></WhiteSpace>
        <WingBlank>
            <Pagination style="width:68%;margin:0 16%;" *ngIf="paginationVisible" [current]="currentPage"
                [total]="totalPage" [mode]="'button'" (onChange)="pageChanged($event)"></Pagination>
        </WingBlank>

    </div>
</dqy-condition>