<nz-card style="margin-top: 10px;" class="position-card">

  <div nz-row nzGutter="8" style="height: 100%;">
    <div nz-col nzSpan="8" style="height: 100%;">
      <div sv-container *ngIf="i" gutter="12" style="padding: 10px 20px;">
        <!-- <sv label="登记序号">{{i.DJXH}}</sv> -->
        <sv label="纳税人名称" col='1'>{{i.NSRMC}}</sv>
        <sv label="纳税人识别号" col='1'>{{i.NSRSBH}}</sv>
        <sv label="社会信用代码" col='1'>{{i.SHXYDM}}</sv>
        <sv label="所属行业" col='1'>{{i.HYMC}}</sv>
        <sv label="登记注册类型" col='1'>{{i.DJZCLXMC}}</sv>
        <sv label="主管税务局" col='1'>{{i.SWJGJC}}</sv>
        <sv label="主管税务所科分局" col='1'>{{i.SWSKFJJC}}</sv>
        <sv label="法定代表人" col='1'>{{i.FDDBRXM}}</sv>
        <sv label="登记日期" col='1'>{{i.DJRQ}}</sv>
        <sv label="录入日期" col='1'>{{i.LRRQ}}</sv>
        <sv label="修改日期" col='1'>{{i.XGRQ}}</sv>
        <sv label="注册地址" col="1">{{i.ZCDZ}}</sv>
        <sv label="生产经营地址" col="1">{{i.SCJYDZ}}</sv>

      </div>

    </div>
    <div nz-col nzSpan="16" style="height: 100%;">
      <div leaflet class="map-container" (loaded)="mapboxglLoad($event)"></div>
    </div>
  </div>
</nz-card>