<nz-card style="margin-top: 10px;" class="position-card">

  <div nz-row nzGutter="8" style="height: 100%;">
    <div nz-col nzSpan="15" style="height: 100%;">
      <div class="mb-md" style="margin: 10px;">
        <input nz-input [(ngModel)]="params.NSRMC" name="NSRMC" nzPlaceHolder="请输入纳税人名称" style="width: 220px;"
          class="mr-sm">
        <button nz-button (click)="st.load(1,params)" [nzType]="'primary'">搜索</button>
        <button nz-button (click)="params = {NSRMC:'',NSRSBH:'',SHXYDM:''}; st.reset()">重置</button>
      </div>
      <st #st [data]="url" [req]="companyReq" [res]="companyRes" loading="false" size="small" [bordered]="true"
        [columns]="columns" (change)="onStChange($event)" [pi]="1" [ps]="10" [total]="total" [page]="page"
        [scroll]="{x:'2220px',y:'576px'}" [loading]="http.loading">
      </st>
    </div>
    <div nz-col nzSpan="24" style="height: 100%;">
      <div leaflet class="map-container" (loaded)="mapboxglLoad($event)"></div>
    </div>
  </div>
</nz-card>