<nz-card style="margin-top: 10px;" [nzExtra]="extraTpl">
  <ng-template #extraTpl>
    <app-bdg-select class="board-1" #bdgSelect></app-bdg-select>
    <span class="header-label">入库日期：</span>
    <app-month-range class="board-2" #monthRange style="margin-right: 5px;"></app-month-range>
    <button nz-button class="board-3" (click)="getData()" [disabled]="http.loading" nzType="primary"
      style="margin-left: 6px;">查询</button>
    <button nz-button class="board-4" (click)="export()" [disabled]="http.loading" nzType="primary"
      style="margin-left: 6px;">导出</button>
    <button nz-button nz-tooltip nzTooltipTitle="帮助" (click)="startBoard()" nzType="default" style="margin-left: 6px;"
      nzShape="circle">
      <i nz-icon nzType="question" nzTheme="outline"></i></button> <!-- startBoard -->
  </ng-template>
  <div nz-row nzGutter="8" style="height: 100%;">
    <div nz-col nzSpan="10" style="height: 100%;" #colHost>
      <st #st [data]="townData" header="镇街收入（单位：万元）" [columns]="columns" size="small" bordered="true"
        [page]="{show:false}" [scroll]="{y:'320px'}" [body]="bodyTpl" (change)="stChange($event)">

        <!-- 汇总数据 -->
        <ng-template #bodyTpl let-s>
          <ng-container *ngIf="st.count > 0">
            <tr class="bg-grey-lighter text-magenta-dark">
              <td colspan="2">合计</td>
              <td class="text-center">{{ s.bndsr.value |number}}</td>
              <td class="text-center">{{ s.sntq.value |number}}</td>
              <td class="text-center">
                {{ (s.bndsr.value-s.sntq.value) |number}}({{ ((s.bndsr.value-s.sntq.value)/s.sntq.value*100).toFixed(2)+"%"}})
              </td>
              <!-- <td class="text-center">
                
              </td> -->
            </tr>
            <!-- 通过json管道打印 s ，s是表格统计结果 -->
            <!-- <tr>{{s|json}}</tr> -->
          </ng-container>
        </ng-template>

        <ng-template st-row="tbzjz-tpl" let-item let-index="index">
          <nz-tag nzColor="{{item.tbzjz>0?'green':'red'}}">
            <!-- <span> {{item.tbzjz|number}}（{{item.tbzjf}}）</span> -->
            <span *ngIf="item.tbzjz>0" nz-tooltip [nzTooltipOverlayStyle]="tooltipStyle"
              [nzTooltipTitle]="'同比增长：' + item.tbzjz+' 万元;&nbsp;' +'增幅：'+item.tbzjf">
              {{item.tbzjz|number}}（{{item.tbzjf}}） </span>
            <span *ngIf="item.tbzjz<0" nz-tooltip [nzTooltipOverlayStyle]="tooltipStyle" [nzTooltipTitle]="'同比下降：' +
              item.tbzjz+' 万元;&nbsp;' +'降幅：'+item.tbzjf">
              {{item.tbzjz|number}}（{{item.tbzjf}}）</span>

          </nz-tag>
        </ng-template>

        <ng-template st-row='order-tpl' let-item let-index="index">
          <nz-badge nzStandalone [nzCount]="index + 1" nzOverflowCount="6666"></nz-badge>
        </ng-template>
      </st>
      <st #jdxzSt *ngIf="townStVisible" [data]="townListUrl" [res]="companyRes" [req]="companyReq"
        [scroll]="{x:'820px',y:'228px'}" [header]="jdxzStHeader" [columns]="expandColumns" size="small" bordered="true"
        [page]="page" [pi]="1" [ps]="10" [total]="total" [loading]="http.loading" (change)="jdxzStChange($event)">

        <ng-template #jdxzStHeader>
          <div nz-row nzGutter="8">
            <div nz-col nzSpan="16">
              <h5><span style="font-weight:bolder;color:red">{{selectedJdxz}}</span>纳税人税收列表(单位：万元)</h5>
            </div>
            <div nz-col nzSpan="8">
              <button nz-button down-file [file-name]="downfileName" [http-data]="downfileParams"
                http-url="analysis/exportTownTaxList" [disabled]="http.loading" nzType="primary"
                style="margin-left: 6px;">导出街道明细</button>
            </div>
          </div>
        </ng-template>
      </st>
    </div>
    <div nz-col nzSpan="14" style="height: 100%;">
      <div style="height: 100%;min-height: 660px; width: 100%;margin-top: 10px;">
        <mgl-map [style]="style" [trackResize]="true" [zoom]="[8]" [center]="[120.3,36.45]" (load)="mapboxLoad($event)">
          <mgl-control mglNavigation></mgl-control>
          <mgl-control mglFullscreen></mgl-control>
        </mgl-map>
      </div>
    </div>
  </div>
</nz-card>