<!--行业税收 -->
<nz-card [nzBordered]="false" [nzExtra]="extraTemplate1" class="ant-card__body-nopadding sales-card">
  <ng-template #extraTemplate1>
    <div class="sales-extra-wrap">

      <!-- <div class="sales-extra">
        <a (click)="setDate('month')">本月</a>
        <a (click)="setDate('year')">本年</a>
      </div> -->

      <span class="header-label"> 预算级次:</span>
      <nz-tree-select style="width: 238px; margin: 0 5px;" [(ngModel)]="budgetValue" [nzNodes]="budgetNodes" nzCheckable
        [nzPlaceHolder]="'请选择预算级次'">
      </nz-tree-select>

      <span class="header-label"> 所属行业:</span>
      <nz-tree-select #hyTreeSelect class="hymc-tree-select" [(ngModel)]="selectedHymc" [nzNodes]="hymcNodes"
        nzAllowClear="true" nzMultiple="false" [nzPlaceHolder]="'请选择行业名称'">
      </nz-tree-select>

      <span class="header-label"> 税收名次:</span>
      <nz-select style="margin: 0 5px;width: 100px;" [(ngModel)]="selectedOrder" nzPlaceHolder="请选择排名" nzAllowClear>
        <nz-option nzLabel="10" [nzValue]="10">
        </nz-option>
        <nz-option nzLabel="100" [nzValue]="100">
        </nz-option>
        <nz-option nzLabel="200" [nzValue]="200">
        </nz-option>
        <nz-option nzLabel="500" [nzValue]="500">
        </nz-option>
        <nz-option nzLabel="1000" [nzValue]="1000">
        </nz-option>
        <nz-option nzLabel="2000" [nzValue]="2000">
        </nz-option>
        <nz-option nzLabel="5000" [nzValue]="5000">
        </nz-option>
      </nz-select>

      <nz-month-picker [(ngModel)]="startDate" nzFormat="YYYY-MM" nzPlaceHolder="起始月份">
      </nz-month-picker>
      <span style="margin: 0 5px;">~</span>
      <nz-month-picker [(ngModel)]="endDate" nzFormat="YYYY-MM" nzPlaceHolder="结束月份"></nz-month-picker>
      <button nz-button (click)="getData()" nzType="primary" style="margin-left: 6px;">查询</button>
      <button nz-button nzType="primary" style="margin-left: 6px;">导出</button>

    </div>
  </ng-template>
  <!-- 表格数据 -->
  <div nz-row nzGutter="8" style="height: 100%;">
    <div nz-col nzSpan="15" style="height: 100%;">
      <st #st style="width: 100%; margin-top: 10px;" header="税收排名（单位：万元）" [data]="data" [columns]="columns"
        [page]="page" [total]="total" [loading]="http.loading" [ps]="10" [pi]="1" (change)="change($event)">
        <ng-template st-row="tbzjz-tpl" let-item let-index="index">

          <nz-tag *ngIf="item.TBZJZ<0" nzColor="red">
            <span nz-tooltip [nzTooltipTitle]="'同比增减：' + item.TBZJZ"> {{item.TBZJZ|number}}</span>
          </nz-tag>
          <span *ngIf="item.TBZJZ>=0" nz-tooltip [nzTooltipTitle]="'同比增减：' + item.TBZJZ"> {{item.TBZJZ|number}}</span>
        </ng-template>
        <ng-template st-row="tbzjf-tpl" let-item let-index="index">

          <nz-tag *ngIf="item.TBZJZ<0" nzColor="red">
            <span nz-tooltip [nzTooltipTitle]="'同比增减：' + item.TBZJF"> {{item.TBZJF}}</span>
          </nz-tag>
          <span *ngIf="item.TBZJZ>=0" nz-tooltip [nzTooltipTitle]="'同比增减幅：' + item.TBZJF"> {{item.TBZJF}}</span>
        </ng-template>
      </st>
    </div>
    <!-- 地图 -->
    <div nz-col nzSpan="9" style="height: 100%">
      <div leaflet class="map-container" (loaded)="mapload($event)"></div>
    </div>

  </div>
</nz-card>