<nz-card class="single-card" [nzExtra]="extraTpl">
  <ng-template #extraTpl>
    <span style="font-weight: bolder;">纳税人名称：</span>
    <app-nsrmc-suggestion #nsrSug></app-nsrmc-suggestion>
    <!-- <input nz-input [(ngModel)]="nsrmc" id="nsrmc" name="nsrmc" placeholder="请输入纳税人名称"
      style="display: inline-block;width: 284px;"> -->
    <app-bdg-select #bdgSelect></app-bdg-select>
    <app-month-range #monthRange style="margin-right: 5px;"></app-month-range>
    <button (click)="search()" [disabled]="http.loading" nz-button nzType="primary">查询</button>
    <button (click)="export()" [disabled]="http.loading" nz-button nzType="primary">导出</button>

  </ng-template>
  <!-- 分税种税收明细表 -->
  <div nz-row nzGutter="8">
    <div nz-col nzSpan="24">
      <st #st *ngIf="taxByZsxmData" [data]="taxByZsxmData" [columns]="columns" size="middle" bordered="true"
        [header]="headerTpl" [page]="{show:false}" [footer]="footerTpl">
        <ng-template #headerTpl>
          <ng-container>
            <div>企业分税种税收明细（单位：万元）</div>
          </ng-container>
        </ng-template>
        <ng-template #footerTpl let-s>
          <ng-container>
            <div>
              合计： {{ total | _currency }}
            </div>
          </ng-container>
        </ng-template>

      </st>
    </div>
  </div>
</nz-card>

<nz-card *ngIf="zsxmBarData" class="chart-card" nzTitle="分税收收入图表">

  <!-- 分税种图表 -->
  <div nz-row nzGutter="8">
    <div nz-col nzSpan="12">
      <div class="chart">
        <g2-bar height="335" [padding]="[32,0,68,40]" style="width: 100%" [data]="zsxmBarData">
        </g2-bar>
      </div>
    </div>

    <div nz-col nzSpan="12">
      <div class="chart">
        <g2-pie title="总税收" [hasLegend]="true" [inner]="0.75" subTitle="总税收" [total]="tpl_total" [data]="zsxmBarData"
          height="335">
        </g2-pie>
        <ng-template #tpl_total>
          {{total | number}} 万元
        </ng-template>
        <!-- <g2-bar height="300" style="width: 100%" [data]="zsxmData"></g2-bar> -->
      </div>
    </div>
  </div>
</nz-card>

<nz-card *ngIf="taxByYearData" class="chart-card" nzTitle="历年税收">

  <!-- 分税种图表 -->
  <div nz-row nzGutter="8">
    <div nz-col nzSpan="12">
      <div class="chart">
        <g2-bar height="315" [padding]="[32,0,68,40]" style="width: 100%" [data]="taxByYearData">
        </g2-bar>
      </div>
    </div>

    <div nz-col nzSpan="12">

    </div>
  </div>
</nz-card>