<page-header [action]="phActionTpl">
  <ng-template #phActionTpl>
    <button (click)="add()" nz-button nzType="primary">新建</button>
  </ng-template>
</page-header>
<nz-card>
  <!-- <sf mode="search" [schema]="searchSchema" (formSubmit)="st.reset($event)" (formReset)="st.reset($event)"></sf> -->
  <st #st [data]="roleData" [columns]="columns" [loading]="http.loading">
    <ng-template st-row="updateAt-row" let-item let-index="index" let-column="column">
      {{item.updated_at |  date: 'yyyy-MM-dd HH:mm:ss'}}
    </ng-template>
  </st>
</nz-card>
