:host {
    ::ng-deep {
        .enterprise-card {
            // margin-top: 10px;

            .ant-card-body {
                height: 100%;
                padding: 0;
            }

            .ant-tabs-extra-content {
                padding-right: 24px;
                line-height: 55px;
            }

            .ant-card-extra {
                margin-left: initial;
            }

            .ant-card-head {
                position: relative;
            }

            .ant-card-head-title {
                align-items: normal;
            }
        }

        .header-label {
            margin: 0 3px;
            font-weight: bolder;
        }

        .hymc-tree-select {
            width: 240px;
            margin: 0 5px;

        }

        .enterprise-card-extra {}
    }
}