<div class="modal-header">
  <div class="modal-title">查看 {{ record.NSRMC }} 信息</div>
</div>
<nz-spin *ngIf="!i" class="modal-spin"></nz-spin>
<div sv-container *ngIf="i" gutter="12">
  <!-- <sv label="登记序号">{{i.DJXH}}</sv> -->
  <sv label="纳税人名称">{{i.NSRMC}}</sv>
  <sv label="纳税人识别号">{{i.NSRSBH}}</sv>
  <sv label="社会信用代码">{{i.SHXYDM}}</sv>
  <sv label="所属行业">{{i.HYMC}}</sv>
  <sv label="登记注册类型">{{i.DJZCLXMC}}</sv>
  <sv label="纳税人状态">{{i.NSRZTMC}}</sv>
  <sv label="主管税务局">{{i.SWJGJC}}</sv>
  <sv label="主管税务所科分局">{{i.SWSKFJJC}}</sv>
  <sv label="法定代表人">{{i.FDDBRXM}}</sv>
  <sv label="登记日期">{{i.DJRQ}}</sv>
  <sv label="录入日期">{{i.LRRQ}}</sv>
  <sv label="修改日期">{{i.XGRQ}}</sv>
  <sv label="注册地址" col="1">{{i.ZCDZ}}</sv>
  <sv label="生产经营地址" col="1">{{i.SCJYDZ}}</sv>

</div>
<div class="modal-footer">
  <button nz-button type="button" (click)="close()">关闭</button>
</div>