<mobile-drawer-condition #drawer (onConditionConfirm)="getCondition($event)">
    <div class="result-container">
        <div class="chart-wrapper">
            <canvas class='chart' #chart style="width: 100%;height: 600px;"></canvas>
        </div>
        <!-- 列表数据 -->
        <List>
            <ListItem [extra]="'金额（万元）'">产业名称

            </ListItem>
            <ListItem *ngFor="let item of listData;let i =index" [extra]="item.bndsr | number">
                <Badge [text]="i+1" [hot]="true" [size]="'large'" style="margin-left:6px;"></Badge>
                {{item.cymc}}
                <Brief>占比:&nbsp;{{(item.bndsr/total*100).toFixed(2)}}%
                    <!-- <span
                        style="margin-left:12px">同比增长:&nbsp;{{item.tbzjz}}</span> -->
                </Brief>
            </ListItem>
        </List>
    </div>

</mobile-drawer-condition>