
.condition-flex-container {
  margin: 0;
}

.flex-3 {
  flex: 3 !important;
}

.flex-2 {
  flex: 2 !important;
}

.flex-1 {
  flex: 1 !important;
}

.result-container {
    width: 100%;
    height: calc(100% - 60px);
    margin-top:-180px;
  }
  
  .chart-wrapper,
  .chart-wrapper canvas {
    width: 100%;
    height: 500px;
  }
  
  .list-wrapper {
    width: 100%;
    height: auto;
    margin-top: 20px;
  }
  