<nz-card style="margin-top: 10px;" [nzExtra]="extraTemplate1">
  <ng-template #extraTemplate1>
    <app-bdg-select #bdgSelect></app-bdg-select>
    <app-hy-select (changed)="hyChange($event)" #hySelect></app-hy-select>
    <span class="header-label"> 纳税额:</span>
    <nz-select style="margin: 0 5px;width: 130px;" [(ngModel)]="selectedValue" nzPlaceHolder="请选择排名" nzAllowClear>
      <nz-option nzLabel="亿元以上" [nzValue]="10000">
      </nz-option>
      <nz-option nzLabel="千万以上" [nzValue]="1000">
      </nz-option>
      <nz-option nzLabel="五百万以上" [nzValue]="500">
      </nz-option>
      <nz-option nzLabel="二百万以上" [nzValue]="200">
      </nz-option>
      <nz-option nzLabel="百万以上" [nzValue]="100">
      </nz-option>
      <nz-option nzLabel="五十万以上" [nzValue]="50">
      </nz-option>
    </nz-select>

    <app-month-range #monthRange style="margin-right: 5px;"></app-month-range>
    <button nz-button (click)="getData()" nzType="primary" style="margin-left: 6px;">查询</button>
    <button nz-button (click)="export()" nzType="primary" style="margin-left: 6px;">导出</button>

  </ng-template>
  <div nz-row nzGutter="8" style="height: calc(100%);">
    <div nz-col nzSpan="10" style="height: 100%;overflow:auto">
      <div nz-row nzGutter="8">
        <div nz-col nzSpan="12">
          <nz-card>
            <nz-statistic [nzValue]="count" [nzTitle]="'企业数'" [nzValueStyle]="{ color: '#3F8600' }">
            </nz-statistic>
          </nz-card>
        </div>
        <div nz-col nzSpan="12">
          <nz-card>
            <nz-statistic [nzValue]="(totalValue | number: '1.0-2')!" [nzTitle]="'本年度总收入'" nzSuffix="万元"
              [nzValueStyle]="{ color: '#3F8600' }">
            </nz-statistic>
          </nz-card>
        </div>
      </div>
      <div nz-row style="margin-top: 10px;" nzGutter="8">
        <div nz-col nzSpan="12">
          <nz-card>
            <nz-statistic [nzValue]="(tbzjValue | number: '1.0-2')!" [nzTitle]="'同比增减'" nzSuffix="万元"
              [nzValueStyle]="{ color: '#3F8600' }">
            </nz-statistic>
          </nz-card>
        </div>
        <div nz-col nzSpan="12">
          <nz-card>
            <nz-statistic [nzValue]="tbzjf" [nzTitle]="'同比增减幅'" [nzValueStyle]="{ color: '#3F8600' }">
            </nz-statistic>
          </nz-card>
        </div>
      </div>

      <st #st [data]="resData" header="明细列表（单位：万元）" [columns]="columns" [page]="page" (change)="stChange($event)"
        virtualScroll [loading]="http.loading" [ps]="10" bordered="true" size="middle"
        [scroll]="{ x: '600px', y: '440px' }">

        <ng-template st-row='order-tpl' let-item let-index="index">
          <nz-badge nzStandalone [nzCount]="index + 1" nzOverflowCount="6666"></nz-badge>
        </ng-template>
        <ng-template st-row="tbzjz-tpl" let-item let-index="index">
          <nz-tag *ngIf="item.TBZJZ<0" nzColor="red">
            <span nz-tooltip [nzTooltipTitle]="'同比增减：' + item.TBZJZ"> {{item.TBZJZ|number}}</span>
          </nz-tag>
          <span *ngIf="item.TBZJZ>=0" nz-tooltip [nzTooltipTitle]="'同比增减：' + item.TBZJZ"> {{item.TBZJZ|number}}</span>
        </ng-template>
        <ng-template st-row="tbzjf-tpl" let-item let-index="index">

          <nz-tag *ngIf="item.TBZJZ<0" nzColor="red">
            <span nz-tooltip [nzTooltipTitle]="'同比增减：' + item.TBZJF"> {{item.TBZJF}}</span>
          </nz-tag>
          <span *ngIf="item.TBZJZ>=0" nz-tooltip [nzTooltipTitle]="'同比增减幅：' + item.TBZJF"> {{item.TBZJF}}</span>
        </ng-template>
      </st>
    </div>
    <div nz-col nzSpan="14" style="height: 100%;">
      <div style="height: 100%; width: 100%;margin-top: 10px;">
        <nz-button-group nzSize="default" style="position: absolute; z-index: 9; top: 20px; left: 20px;">
          <button nz-button (click)="switchLayer('heat')" nzDanger="true" nzGhost="true">热力图</button>
          <button nz-button (click)="switchLayer('dot')" nzDanger="true" nzGhost="true">散点图</button>
          <button nz-button (click)="switchLayer('cluster')" nzDanger="true" nzGhost="true">聚合图</button>
        </nz-button-group>
        <!-- <nz-spin *ngIf="!map" nzSize="large" style=""></nz-spin> -->
        <mgl-map [style]="style" [trackResize]="true" [zoom]="[zoom]" [center]="center" (load)="mapboxLoad($event)">
          <mgl-control mglNavigation></mgl-control>
          <mgl-control mglFullscreen></mgl-control>
        </mgl-map>
      </div>
    </div>
  </div>
</nz-card>