<!-- navbar -->
<!-- <Navbar [rightContent]="popover">
  智慧财源移动端
</Navbar>

<ng-template #popover>
  <Icon Popover [ngStyle]="{ height: '100%', display: 'flex', 'align-items': 'center' }" [mask]="true"
    [showArrow]="true" [overlay]="overlay" [type]="'ellipsis'" [placement]="'bottomRight'" (onSelect)="onSelect($event)"
    (onVisibleChange)="onVisibleChange($event)"></Icon>
</ng-template>

<ng-template #overlay>
  <PopoverItem [icon]="nav_icon1">首页</PopoverItem>
  <PopoverItem [icon]="nav_icon2">退出</PopoverItem>
</ng-template>

<ng-template #nav_icon1>
  <i nz-icon nzType="windows"></i>
</ng-template>

<ng-template #nav_icon2>
  <i nz-icon nzType="close"></i>
</ng-template> -->

<!-- TabBar -->
<TabBar [hidden]="hidden" [barTintColor]="'white'" [tintColor]="tintColor" [activeTab]="selectedIndex"
  [unselectedTintColor]="unselectedTintColor" [tabBarPosition]="'bottom'" (onPress)="nav($event)">
  <TabBarItem (click)="nav('eco-summary')" [title]="'经济运行'" [key]="1" [icon]="icon1" [selectedIcon]="icon11">
    <ng-template #icon1>
      <i nz-icon nzType="dashboard" class="tab-icon"></i>
    </ng-template>
    <ng-template #icon11>
      <i nz-icon nzType="dashboard" class="tab-icon tab-icon-active"></i>
    </ng-template>
    <div *ngIf="summaryVisible" style="background-color: white; height: 100%; text-align: center">
      <ng-container>
        <router-outlet></router-outlet>
      </ng-container>
    </div>
  </TabBarItem>
  <TabBarItem (click)="nav('eco-map')" [title]="'税收地图'" [key]="2" [icon]="icon2" [selectedIcon]="icon22">
    <ng-template #icon2>
      <i nz-icon nzType="global" nzTheme="outline" class="tab-icon"></i>
    </ng-template>
    <ng-template #icon22>
      <i nz-icon nzType="global" nzTheme="outline" class="tab-icon tab-icon-active"></i>
    </ng-template>
    <div *ngIf="mapVisible" style="background-color: white; height: 100%; text-align: center">
      <ng-container>
        <router-outlet></router-outlet>
      </ng-container>
    </div>
  </TabBarItem>
  <TabBarItem (click)="nav('eco-thematic')" [title]="'专题分析'" [key]="3" [dot]="true" [icon]="icon3"
    [selectedIcon]="icon33">
    <ng-template #icon3>
      <i nz-icon nzType="bar-chart" nzTheme="outline" class="tab-icon"></i>
    </ng-template>
    <ng-template #icon33>
      <i nz-icon nzType="bar-chart" nzTheme="outline" class="tab-icon tab-icon-active"></i>
    </ng-template>
    <div *ngIf="thematicVisible" style="background-color: white; height: 100%; text-align: center">
      <ng-container>
        <router-outlet></router-outlet>
      </ng-container>
    </div>
  </TabBarItem>
  <TabBarItem [title]="'我的'" [key]="4" [icon]="icon4" [selectedIcon]="icon44">
    <ng-template #icon4>
      <i nz-icon nzType="user" nzTheme="outline" class="tab-icon"></i>
    </ng-template>
    <ng-template #icon44>
      <i nz-icon nzType="user" nzTheme="outline" class="tab-icon tab-icon-active"></i>
    </ng-template>
    <div *ngIf="userVisible" style="background-color: white; height: 100%; text-align: center">
      <ng-container>
        <router-outlet></router-outlet>
      </ng-container>
    </div>
  </TabBarItem>
</TabBar>