<!-- navbar -->
<Navbar [rightContent]="popover">
  智慧财源移动端
</Navbar>

<ng-template #popover>
  <Icon Popover [ngStyle]="{ height: '100%', display: 'flex', 'align-items': 'center' }" [mask]="true"
    [showArrow]="true" [overlay]="overlay" [type]="'ellipsis'" [placement]="'bottomRight'" (onSelect)="onSelect($event)"
    (onVisibleChange)="onVisibleChange($event)"></Icon>
</ng-template>

<ng-template #overlay>
  <PopoverItem [icon]="nav_icon1">首页</PopoverItem>
  <PopoverItem [icon]="nav_icon2">退出</PopoverItem>
</ng-template>

<ng-template #nav_icon1>
  <i nz-icon nzType="windows"></i>
</ng-template>

<ng-template #nav_icon2>
  <i nz-icon nzType="close"></i>
</ng-template>

<!-- TabBar -->
<TabBar [hidden]="hidden" [barTintColor]="'white'" [tintColor]="tintColor" [ngStyle]="tabbarStyle"
  [activeTab]="selectedIndex" [unselectedTintColor]="unselectedTintColor" [tabBarPosition]="topFlag ? 'top' : 'bottom'"
  (onPress)="tabBarTabOnPress($event)">
  <TabBarItem [title]="'Life'" [key]="1" [badge]="1" [icon]="icon1" [selectedIcon]="icon11">
    <ng-template #icon1>
      <div
        style="width:22px;height: 22px;background: url('https://zos.alipayobjects.com/rmsportal/sifuoDUQdAFKAVcFGROC.svg') center center / 21px 21px no-repeat;">
      </div>
    </ng-template>
    <ng-template #icon11>
      <div
        style="width:22px;height: 22px;background: url('https://zos.alipayobjects.com/rmsportal/iSrlOTqrKddqbOmlvUfq.svg') center center / 21px 21px no-repeat;">
      </div>
    </ng-template>

  </TabBarItem>
  <TabBarItem [title]="'Koubei'" [key]="2" [badge]="'new'" [icon]="icon2" [selectedIcon]="icon22">
    <ng-template #icon2>
      <div
        style="width:22px;height: 22px;background: url('https://gw.alipayobjects.com/zos/rmsportal/BTSsmHkPsQSPTktcXyTV.svg') center center / 21px 21px no-repeat;">
      </div>
    </ng-template>
    <ng-template #icon22>
      <div
        style="width:22px;height: 22px;background: url('https://gw.alipayobjects.com/zos/rmsportal/ekLecvKBnRazVLXbWOnE.svg') center center / 21px 21px no-repeat;">
      </div>
    </ng-template>

  </TabBarItem>
  <TabBarItem [title]="'Friend'" [key]="3" [dot]="true" [icon]="icon3" [selectedIcon]="icon33">
    <ng-template #icon3>
      <div
        style="width:22px;height: 22px;background: url('https://zos.alipayobjects.com/rmsportal/psUFoAMjkCcjqtUCNPxB.svg') center center / 21px 21px no-repeat;">
      </div>
    </ng-template>
    <ng-template #icon33>
      <div
        style="width:22px;height: 22px;background: url('https://zos.alipayobjects.com/rmsportal/IIRLrXXrFAhXVdhMWgUI.svg') center center / 21px 21px no-repeat;">
      </div>
    </ng-template>

  </TabBarItem>
  <TabBarItem [title]="'My'" [key]="4" [icon]="icon4" [selectedIcon]="icon44">
    <ng-template #icon4>
      <div
        style="width:22px;height: 22px;background: url('https://zos.alipayobjects.com/rmsportal/asJMfBrNqpMMlVpeInPQ.svg') center center / 21px 21px no-repeat;">
      </div>
    </ng-template>
    <ng-template #icon44>
      <div
        style="width:22px;height: 22px;background: url('https://zos.alipayobjects.com/rmsportal/gjpzzcrPMkhfEqgbYvmN.svg') center center / 21px 21px no-repeat;">
      </div>
    </ng-template>

  </TabBarItem>
</TabBar>