<!-- 总体分析 -->
<nz-card style="margin-top: 10px;" nzTitle="行业亩均税收总体分析">

  <div nz-row nzGutter="8" style="height: 400px;">
    <div nz-col nzSpan="12" style="height: 100%;overflow: scroll;">
      <st [data]="hyPermSummaryData" [columns]="permSummarycolumns" [page]="page" bordered="true"
        [scroll]="{x:'800px'}"></st>
    </div>
    <div nz-col nzSpan="12" style="height: 100%;">

    </div>
  </div>
</nz-card>
<!-- 明细分析 -->
<nz-card style="margin-top: 15px;" nzTitle="行业亩均税收明细及空间分布">

  <div nz-row nzGutter="8" style="height: 708px;">
    <div nz-col nzSpan="12" style="height: 100%;overflow: scroll;">
      <sf mode="search" [ui]="ui" [schema]="searchSchema" (formSubmit)="st.reset($event)"
        (formReset)="st.reset($event)"></sf>
      <st #st [data]="hyPermTaxData" [columns]="columns" [page]="page" [singleSort]="singleSort" bordered="true"
        [scroll]="{x:'1060px'}" header="行业亩均税收分析（单位：万元）"></st>
    </div>
    <div nz-col nzSpan="12" style="height: 100%;">
      <div style="height: 100%;min-height: 660px; width: 100%;margin-top: 10px;">
        <!-- <nz-spin *ngIf="!map" nzSize="large" style=""></nz-spin> -->
        <mgl-map [style]="style" [trackResize]="true" [zoom]="[8]" [center]="[120.3,36.45]" (load)="mapboxLoad($event)">
          <mgl-control mglNavigation></mgl-control>
          <mgl-control mglFullscreen></mgl-control>
        </mgl-map>
      </div>
    </div>
  </div>
</nz-card>