<!-- <nz-card nzTitle="企业名单导入" style="margin-top: 10px;">
  <button nzType="primary" nz-button class="mr-sm" down-file http-url="hx/nsr/upload/downloadTemplate"
    file-name="纳税人导入模板.xlsx">
    <i nz-icon nzType="download"></i><span>下载模板</span>
  </button>
  <nz-upload [nzAction]="upload" [nzBeforeUpload]="beforeUpload" (nzChange)="uploadChange($event)">
    <button nzType="primary" nz-button>
      <i nz-icon nzType="upload"></i>
      <span>点击上传</span>
    </button>
  </nz-upload>

</nz-card> -->
<nz-card style="margin-top: 10px;">
  <form style="padding-bottom: 10px;" nz-form [nzLayout]="'inline'" class="search__form">
    <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }" style="width: 100%;">
      <div nz-col nzMd="6" nzSm="24">
        <nz-form-item>
          <nz-form-label nzFor="NSRMC">纳税人名称</nz-form-label>
          <nz-form-control>
            <input nz-input [(ngModel)]="params.NSRMC" (ngModelChange)="searchAutoChangeS.next({'NSRMC':$event})"
              [nzAutocomplete]="nsrmcAuto" name="NSRMC" placeholder="请输入" id="NSRMC" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzMd="6" nzSm="24">
        <nz-form-item>
          <nz-form-label nzFor="NSRSBH">纳税人识别号</nz-form-label>
          <nz-form-control>
            <input nz-input [(ngModel)]="params.NSRSBH" (ngModelChange)="searchAutoChangeS.next({'NSRSBH':$event})"
              [nzAutocomplete]="nsrsbhAuto" name="NSRSBH" placeholder="请输入" id="NSRSBH" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzMd="6" nzSm="24">
        <nz-form-item>
          <nz-form-label nzFor="SHXYDM">社会信用代码</nz-form-label>
          <nz-form-control>
            <input nz-input [(ngModel)]="params.SHXYDM" (ngModelChange)="searchAutoChangeS.next({'SHXYDM':$event})"
              [nzAutocomplete]="shxydmAuto" name="SHXYDM" placeholder="请输入" id="SHXYDM" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzMd="6" nzSm="24" *ngIf="expandForm">
        <nz-form-item>
          <nz-form-label nzFor="JDXZ_DM">街道乡镇</nz-form-label>
          <nz-form-control>
            <nz-tree-select [ngModelOptions]="{standalone: true}" [nzNodes]="jdxzItems" nzShowSearch
              [(ngModel)]="params.JDXZ_DM" [nzDropdownStyle]="{'max-height':'300px'}" id="JDXZ_DM" name="JDXZ_DM">
            </nz-tree-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="expandForm ? 24 : 6" [class.text-right]="expandForm">
        <button nz-button type="submit" (click)="st.load(1,params)" [nzType]="'primary'"
          [nzLoading]="http.loading">查询</button>
        <button nz-button type="reset" (click)="reset()" class="mx-sm">重置</button>
        <button nz-button acl [acl-ability]="'company:hxnsrxx:export'" type="button" nzType="primary" down-file
          file-name="纳税人信息.xlsx" [http-method]="'GET'" http-url="hx/nsr/export/all" [http-data]="params"
          class="mx-sm">导出</button>
        <a (click)="expandForm = !expandForm">
          {{ expandForm ? '收起' : '展开' }}
          <i nz-icon [nzType]="expandForm ? 'up' : 'down'"></i>
        </a>
      </div>
    </div>
    <nz-autocomplete [nzDataSource]="nsrmcAutoDataSource" nzBackfill #nsrmcAuto>

    </nz-autocomplete>
    <nz-autocomplete [nzDataSource]="nsrsbhAutoDataSource" nzBackfill #nsrsbhAuto>

    </nz-autocomplete>
    <nz-autocomplete [nzDataSource]="shxydmAutoDataSource" nzBackfill #shxydmAuto>

    </nz-autocomplete>
  </form>

  <div class="mb-md">
    <button acl [acl-ability]="'company:hxnsrxx:clear'" nzType="default" (click)="clear()" nz-button>清除</button>
    <button acl [acl-ability]="'company:hxnsrxx:refresh'" nzType="default" (click)="st.load(1)" nz-button>刷新</button>
    <button acl [acl-ability]="'company:hxnsrxx:add'" nzType="primary" (click)="add()" nz-button>添加</button>
    <button acl [acl-ability]="'company:hxnsrxx:deleteAll'" nzType="danger" (click)="batchDel()"
      [disabled]="batchDelDisabled" nz-button>
      删除</button>
    <button acl [acl-ability]="'company:hxnsrxx:exportAll'" nzType="primary" down-file file-name="纳税人信息.xlsx"
      [http-method]="'GET'" http-url="hx/nsr/export/all" [http-data]="params" nz-button>
      全部导出</button>
  </div>
  <st #st [data]="url" [req]="companyReq" [res]="companyRes" size="small" [bordered]="true"
    [scroll]="{x:'2400px',y:'576px'}" [columns]="columns" [pi]="1" [ps]="10" [total]="total" [page]="page"
    (change)="stChange($event)">
  </st>
</nz-card>