<nz-card class='enterprise-card' [nzExtra]="extraTemplate1">
  <ng-template #extraTemplate1>

    <span style="font-weight: bolder;margin-right: 5px;"> 请选择年份：</span>
    <nz-year-picker [(ngModel)]="selectedYear" nzPlaceHolder="年份"></nz-year-picker>
    <button nz-button (click)="search()" [disabled]="http.loading" nzType="primary"
      style="margin-left: 6px;">查询</button>
    <!--
    <button nz-button [disabled]="http.loading" nzType="primary" style="margin-left: 6px;">添加</button> -->

  </ng-template>
  <st #st [data]="data" [columns]="columns" [loading]="http.loading" [ps]="10" [pi]="1" [page]="page" bordered="true"
    size="middle" (change)="change($event)"></st>
</nz-card>