@import '~bootstrap/less/bootstrap.less';
@import "~@fortawesome/fontawesome-free/less/fontawesome.less";

// #region PLACEHOLDER, IMPORTANT: don't remove
@import '~@delon/theme/system/index';
@import '~@delon/abc/index';
@import '~@delon/chart/index';
@import '~@delon/theme/layout/default/index';
@import '~@delon/theme/layout/fullscreen/index';

@import './styles/index';
@import './styles/theme';


// You can directly set the default theme
// - `dark` Import the official dark less style file
// - `compact` Import the official compact less style file
// @import '~@delon/theme/theme-dark.less';

// @fa-font-path:"../node_modules/font-awesome/fonts";
// @import '~font-awesome/less/font-awesome.less';
// #endregion
@import "~mapbox-gl/dist/mapbox-gl.css";
@import '~@mapbox/mapbox-gl-draw/dist/mapbox-gl-draw.css';
@import  "~mapbox-gl-style-switcher/styles.css";

@import "~leaflet/dist/leaflet.css";
@import "~leaflet-draw/dist/leaflet.draw.css";

@media  (min-width: 768px){
  .alain-default__collapsed .alain-default__content {
      margin-left: 74px;
      height: calc(100%  - 125px);
      width: calc(100% - 84px) !important;
  }
};
@alain-default-aside-wd	:228px;
.alain-fullscreen{
  padding: 0;
  width: 100%;
  height: 100%;
}
.alain-default__content{
  width: calc(100% - 260px) !important;
}
.ant-select-dropdown{
  max-height: 400px !important;
}
.ant-select-dropdown.ant-select-tree-dropdown{
  max-height: 400px !important;
}
.mapboxgl-popup{
  max-width: 500px !important;
  .mapboxgl-popup-tip{
    opacity: 0.8;
    filter: invert(100%);
  }
  .mapboxgl-popup-content{
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    line-height: 18px;
    max-width: 400px;
    overflow:scroll;
    padding: 8px;
    h5{
      color: aliceblue !important;
    }
  }
}

html,
body {
  color: #fff;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: SourceHanSans\, Arial;
  overflow: hidden;
  // background: #202020;
}
