<!-- <Flex class="fixed-title">
    <FlexItem class="flex-3">
        <ListItem>企业名称</ListItem>
    </FlexItem>
    <FlexItem class="flex-2">
        <ListItem>全口径</ListItem>
    </FlexItem>
    <FlexItem class="flex-2">
        <ListItem>地方口径</ListItem>
    </FlexItem>
</Flex> -->
<!--  -->
<div class="list-wrapper">
    <List>
        <!-- <ListItem>纳税人名称</ListItem> -->
        <SwipeAction *ngFor="let item of favorJtData;let i =index" style="background-color:gray" [autoClose]="true"
            [right]="rightFavor" (onOpen)="onSwipeOpen(item)">
            <ListItem [arrow]="'horizontal'" (click)="favorClick(item.qymc)">
                <Badge [overflowCount]="100000" [text]="i+1" [hot]="true" [size]="'large'" style="margin-left:6px;">
                </Badge>
                {{item.qymc}}
            </ListItem>
        </SwipeAction>
    </List>

</div>