<div class="container">
    <div nz-row class="fill-row" nzGutter="8">
        <!-- 左--税种统计 -->
        <div nz-col nzSpan="6">
            <div class="tax-2">
                <div class="panel-title">
                    规上企业纳税规模
                </div>
                <div class="panel-content" echarts [options]="nsgmChartOpt" [theme]="'dark'">
                </div>
            </div>
            <div class="tax-2">
                <div class="panel-title">
                    规上企业税收Top20
                </div>
                <div class="panel-content">
                    <div style="height:100%;width:100%;overflow:scroll" class="zsxm-table-wrapper">
                        <div nz-row class="zsxm-row" nzGutter="8">
                            <div nz-col nzSpan="3">
                                排名
                            </div>
                            <div nz-col nzSpan="15">
                                纳税人名称
                            </div>
                            <div nz-col nzSpan="6">
                                收入额(万元)
                            </div>

                        </div>
                        <a pageScroll href="#scrollContent"></a>
                        <div nz-row id="scrollContent" class="zsxm-row zsxm-item-row"
                            *ngFor="let item of gsqyTop20Data;let i=index;" nzGutter="8" (click)="itemClick(item)">
                            <div nz-col nzSpan="3">
                                <nz-badge nzStandalone [nzStyle]="{ backgroundColor: 'rgb(33,107,198)' }"
                                    nzCount="{{i+1}}">
                                </nz-badge>
                            </div>
                            <div nz-col nzSpan="15">
                                {{item['NSRMC']}}
                            </div>
                            <div nz-col nzSpan="6">
                                {{ item['SE_HJ']|number}}
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 中--地图统计 -->
        <div nz-col nzSpan="12">
            <div class="risk-summary">
                <nz-row style="width: 100%;height:100%;" [nzGutter]="8">
                    <nz-col [nzSpan]="12" style="height:100%;">
                        <h3 class="summary-title">全市规上企业户数 &nbsp;
                            <!-- <span
                                class="summary-value">{{taxAll|number}}&nbsp;户</span> -->
                        </h3>
                        <div class="summary-sub">
                            <span class="icon-red-dot" style="
                                    position: absolute;
                                    width: 10px;
                                    height: 10px;
                                    margin:8px 0;
                                    background: #af2a2a;
                                    border-radius: 50%;"></span>
                            <span style="padding:0 15px;font-size:16px">户数：<span
                                    class="summary-value">{{gsqyCount}}</span>&nbsp;户</span>
                            <span class="icon-red-dot" style="
                                    position: absolute;
                                    width: 10px;
                                    height: 10px;
                                    margin:8px 0;
                                    background: #af2a2a;
                                    border-radius: 50%;"></span>
                            <span style="padding:0 15px;font-size:16px">户数占比：<span
                                    class="summary-value">{{gsqyCount_BL}}%</span></span>
                            <!-- <i nz-icon nzType="clock-circle" nzTheme="twotone"></i> -->

                        </div>
                    </nz-col>
                    <nz-col [nzSpan]="12" style="height:100%;">
                        <h3 class="summary-title">本年累计税收收入 &nbsp;
                            <!-- <span
                                class="summary-value">{{taxAll|number}}&nbsp;户</span> -->
                        </h3>
                        <div class="summary-sub">
                            <span class="icon-red-dot" style="
                                    position: absolute;
                                    width: 10px;
                                    height: 10px;
                                    margin:8px 0;
                                    background: #af2a2a;
                                    border-radius: 50%;"></span>
                            <span style="padding:0 15px;font-size:16px">税收：<span
                                    class="summary-value">{{gsqyTaxValue/10000|number}}</span>&nbsp;亿</span>
                            <span class="icon-red-dot" style="
                                    position: absolute;
                                    width: 10px;
                                    height: 10px;
                                    margin:8px 0;
                                    background: #af2a2a;
                                    border-radius: 50%;"></span>
                            <span style="padding:0 15px;font-size:16px">收入占全市比重：<span
                                    class="summary-value">{{gsqyTaxValue_BL}}%</span></span>

                        </div>
                    </nz-col>

                </nz-row>
            </div>
            <div style="height: 89%; width: 100%;margin-top: 10px;">
                <nz-button-group nzSize="default" style="position: absolute; z-index: 9; top: 13%; left: 20px;">
                    <button nz-button (click)="switchLayer('heat')" nzType="primary" nzGhost="true">热力图</button>
                    <button nz-button (click)="switchLayer('dot')" nzType="primary" nzGhost="true">散点图</button>
                    <button nz-button (click)="switchLayer('cluster')" nzType="primary" nzGhost="true">聚合图</button>
                </nz-button-group>
                <mgl-map class="main-map-container" [style]="style" [trackResize]="true" [zoom]="[8]"
                    [center]="[121.4099, 37.47522]" (load)="mapboxLoad($event)">
                    <mgl-control mglNavigation></mgl-control>
                    <mgl-control mglFullscreen></mgl-control>
                    <!-- <app-mapbox-style-control></app-mapbox-style-control> -->
                </mgl-map>
            </div>

        </div>

        <!-- 右--税种统计 -->
        <div nz-col nzSpan="6">
            <div class="tax-2">
                <div class="panel-title">
                    规上企业税收按行业分析
                </div>
                <div class="panel-content" echarts [options]="gsqyHyChartOpt" [theme]="'dark'">
                </div>
            </div>
            <div class="tax-2">
                <div class="panel-title">
                    规上企业按税务机关分析
                </div>
                <div class="panel-content" echarts [options]="gsqySwjgChartOpt" [theme]="'dark'">
                </div>
            </div>
        </div>
    </div>
</div>