<div nz-row nzGutter="8" style="margin-top:10px;">
  <div nz-col nzSpan="12">
    <nz-card nzTitle="预算目标预览">
      <!-- <sf mode="search" [schema]="searchSchema" (formSubmit)="st.load()" (formReset)="st.reset($event)"></sf> -->
      <span style="font-weight:bolder;margin-right:6px;">当前年度：</span>
      <nz-year-picker [(ngModel)]="selectedYear" name="year" nzPlaceHolder="请输入年份" style="width: 150px;"
        (ngModelChange)="params.year=$event.getFullYear()" class="mr-sm">
      </nz-year-picker>
      <button nz-button (click)="st.load(1,params)" [nzType]="'primary'">搜索</button>
      <button nz-button (click)="params = {}; st.reset()">重置</button>

      <st style="margin-top: 10px;" #st [data]="url" [columns]="columns" [req]="{params: params}" [res]="res"
        [page]="false" (change)="stChange($event)"></st>
    </nz-card>
  </div>

  <div nz-col nzSpan="12">
    <nz-card nzTitle="预算目标编辑">
      <form nz-form #f="ngForm" se-container col="2" nzLayout="horizontal">
        <se *ngFor="let item of bdgData" label="{{item.JDXZMC}}" col="1" required>
          <input nz-input [(ngModel)]="item.BDG_VALUE" type="number" name="item.JDXZMC" id="item.JDXZDM"
            [ngModelOptions]="{standalone: true}" required>
        </se>
        <se col="2">
          <button nz-button nzType="primary" [disabled]="f.invalid" (click)="save(f)">保存</button>
        </se>
        <se col="2">
          <button nz-button nzType="primary">重置</button>
        </se>
      </form>
    </nz-card>
  </div>
</div>